@media (min-width: 800px){
	.picture{
		width: 50%;
		order: 2;
	}
	.img{
		width: 100%;
		border-top-left-radius:0rem ;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}
	.article{
		width: 50%;
		margin: auto;
		order: 1;
	}
	.titulo{
		font-size: 2.5rem;
		text-align: left;
		margin: 2.5% 10%;
	}
	.parrafo{
		text-align: left;
		margin: 2.5% 10%;
		padding: 0rem;
	}
	.info {
		display: flex;
		justify-content:center;
	}
	.h1{
		font-size: 2rem;
	}
	.parrafo,
	p{
		font-size: 1.15rem;
		line-height: 1.9rem;
	}
}