*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
img{
	width: 80vw;
	border-top-left-radius:1rem ;
	border-top-right-radius: 1rem;
}
.container{
	width: 100vw;
	height: 100vh;
	background-color:hsl(233, 47%, 7%);
	display: flex;
	flex-wrap: wrap;
	
}
.container-section{
	background-color:hsl(244, 38%, 16%) ;
	min-height: 150px;
	width: 80vw;
	margin: auto;
	border-radius: 1rem;
	display: flex;
	flex-wrap: wrap;
}
.titulo{
	padding-top: 1.5rem;
	text-align: center;
	color: hsl(0, 0%, 100%);
	font-family: 'Inter', sans-serif;
	font-size: 1.5rem;
}
.h1-span{
	color: hsl(277, 64%, 61%);
}
.parrafo{
	color : hsla(0, 0%, 100%, 0.75);
	padding: 1.5rem;
	text-align: center;
	font-family: 'Inter', sans-serif;
}
.date{
	text-align: center;
	margin: 1rem;
	color: hsl(0, 0%, 100%);
	font-family: 'Inter', sans-serif;
}
.h1{
	font-size: 1.5rem;
}
.date p{
	color: hsla(0, 0%, 100%, 0.6);
	font-family: 'Lexend Deca', sans-serif;

}